services:

  backend1:
    build: ../backend
    container_name: backend1
    command: uvicorn main:app --host 0.0.0.0 --port 8800 --reload
    volumes:
      - ../backend:/app
      - ./files:/app/files
    env_file:
      - ../backend/.env.backend
    working_dir: /app/app

  backend2:
    build: ../backend
    container_name: backend2
    command: uvicorn main:app --host 0.0.0.0 --port 8800 --reload
    volumes:
      - ../backend:/app
      - ./files:/app/files
    env_file:
      - ../backend/.env.backend
    working_dir: /app/app

  frontend:
    build: ../frontend
    container_name: frontend
    command: npm run dev -- --host 0.0.0.0 --port 5173
    volumes:
      - ../frontend:/app
      - /app/node_modules
    env_file:
      - ../frontend/.env.frontend
    depends_on:
      - backend1
      - backend2

  kafka-kraft-1:
    image: bitnamilegacy/kafka:3.4
    container_name: kafka-kraft-1
    environment:
      # Настройки ноды 1
      - KAFKA_CFG_NODE_ID=1
      # Listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9095
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-kraft-1:9092,EXTERNAL://kafka-kraft-1:9095
    env_file:
      - .env.kafka
    volumes:
      - kraft1_data:/bitnami/kafka

  kafka-kraft-2:
    image: bitnamilegacy/kafka:3.4
    container_name: kafka-kraft-2
    environment:
      - KAFKA_CFG_NODE_ID=2
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9096
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-kraft-2:9092,EXTERNAL://kafka-kraft-2:9096
    env_file:
      - .env.kafka
    volumes:
      - kraft2_data:/bitnami/kafka

  kafka-kraft-3:
    image: bitnamilegacy/kafka:3.4
    container_name: kafka-kraft-3
    environment:
      - KAFKA_CFG_NODE_ID=3
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9097
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-kraft-3:9092,EXTERNAL://kafka-kraft-3:9097
    env_file:
      - .env.kafka
    volumes:
      - kraft3_data:/bitnami/kafka

  schema-registry:
    image: confluentinc/cp-schema-registry:latest
    container_name: schema-registry
    depends_on:
      - kafka-kraft-1
      - kafka-kraft-2
      - kafka-kraft-3
    restart: unless-stopped
    env_file:
      - .env.kafka

  faust-stream:
    build: ../kafka_streams
    container_name: faust-stream
    command: python faust_app.py worker --loglevel info
    ports:
      - 6066:6066
    volumes:
      - ../kafka_streams:/app
    env_file:
      - ../kafka_streams/.env.streams
    depends_on:
      - kafka-kraft-1
      - kafka-kraft-2
      - kafka-kraft-3
    restart: unless-stopped

  # UI для KRaft кластера
  kafka-ui-kraft:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui-kraft
    depends_on:
      - kafka-kraft-1
      - kafka-kraft-2
      - kafka-kraft-3
      - schema-registry
    env_file:
      - .env.kafka

  nginx:
    image: nginx:1.21.3-alpine
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./files:/var/html/files/
    restart: always
    depends_on:
      - backend1
      - backend2
      - frontend
      - kafka-ui-kraft


volumes:
  kraft1_data:
  kraft2_data:
  kraft3_data:
